<!--

Holds the html of the university search page
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<div class="">
	<div class="row">
		<div class="span6 offset2">
			<h1>Search University</h1>
		</div>
	</div>
</div>

{{partial "search"}}