<!--
	handle bar for the like component
	
	```handlebars
	```
	
	you need to bind the paginationController to the controller you are changing the content for
	and also paginationExtraParams should be binded if you want to query on extra things
	
	Created October 30th, 2013
	@author: Doron Nachshon
	@version: 1.0
	@copyright: Nerdeez
-->


<div class="pull-left fb-like">
	<fb:like href="https://developers.facebook.com/docs/plugins/" width="200" height="100" colorscheme="dark" layout="standard" action="like" show_faces="true" send="false"></fb:like>
</div>