<!--
  handle bar for the hover block (metro theme) component
  
  Created November 14th, 2013
  @author: Doron Nachshon
  @version: 1.0
  @copyright: Nerdeez
-->

<ul class="hover-block">
  <li>
    <a href="#">
    <!-- Image -->
      <div class="logo">
        <i class="fa fa-folder-o"></i>
      </div>
      <!-- Content with background color Class -->
      <div class="hover-content b-orange" style="top: 125px;">
        <h6>Course 1</h6>
        Course description <br> #files: 60 <br> #users: 70
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img alt="" src="img/photos/tn_2.jpg"> 
      <div class="hover-content b-red" style="top: 125px;">
        <h6>Course 2</h6>
        Course description <br> #files: 60 <br> #users: 70
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img alt="" src="img/photos/tn_3.jpg"> 
      <div class="hover-content b-purple" style="top: 125px;">
        <h6>Course 3</h6>
        Course description <br> #files: 60 <br> #users: 70
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <img alt="" src="img/photos/tn_4.jpg"> 
      <div class="hover-content b-lblue" style="top: 125px;">
        <h6>Course 4</h6>
        Course description <br> #files: 60 <br> #users: 70
      </div>
    </a>
  </li>            
</ul>