<!--
	handle bar for the pagination component
	
	```handlebars
	```
	
	you need to bind the paginationController to the controller you are changing the content for
	and also paginationExtraParams should be binded if you want to query on extra things
	
	Created October 22nd, 2013
	@author: Yariv Katz
	@version: 1.0
	@copyright: Nerdeez
-->

<div class="pagination">
	{{#if paginationIsLoading}}
		{{loading}}
	{{/if}}
</div>

