<!--

Holds the html of the application header
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<header class="_header">
	<div class="container">
		<div class="row">
			<div class="span2">
				<div class="logo">
					<img src="{{unbound view.staticUrl}}img/logo.png" />
				</div>
			</div>
			<div class="span5 pull-right">
				<ul class="nav nav-pills pull-right tobottom">
					<li>
						{{#linkTo index}}Home{{/linkTo}}
					</li>
					<li>
						{{#linkTo about}}About{{/linkTo}}
					</li>.
					<li>
						{{#linkTo contact}}Contact Us{{/linkTo}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
