<!--

Holds the html of the application header
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<div id="header" class="_header">
	<div class="container">
		<div class="row">
            <div class="logo span2">
                {{#linkTo index}}
                <img src="{{unbound view.staticUrl}}img/logo.png" />
                {{/linkTo}}
            </div>
		
	        <div class="menu pull-right">
    		    <div class="nav-collapse">
    			    <ul class="nav pull-right" id="main-nav">
    				    <li class="nav-icon home">
    					    {{#linkTo 'index'}}
    						<i class="icon-home"></i>
    						<span>Home</span>        					
    					    {{/linkTo}}
	    			    	</li>
    				
    				    <li>
        					{{#linkTo 'about'}}
                            <i class="icon-info"></i>
                            About
                         {{/linkTo}}
    				    </li>
    				    
    				    	<li>
						{{#linkTo 'contact'}}
							<i class="icon-envelope"></i>
							Contact Us
						{{/linkTo}}
					</li>
    				
    			    </ul>
    			
    		    </div> <!-- /.nav-collapse -->
            </div>
        </div>
        

	</div> <!-- /.container -->
	
</div>
