<!--

Holds the html of the application header
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->



<div id="header" class="_header">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="logo">
                        {{#link-to "homepage"}}
                            <img src="{{unbound view.staticUrl}}img/logo.png">
                        {{/link-to}}
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <form class="form-inline">
                        <div class="form-group">
                            {{
                                view Ember.TextField
                                class="form-control"
                                valueBinding="searchQuery"
                                placeholder="Search"
                            }}
                            {{#if isLoading}}
                                {{loading}}
                            {{else}}
                                <i class="icon-search"></i>
                            {{/if}}
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 pull-right">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            <i class="fa fa-smile-o"></i>
                            John Doe
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Privacy</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About</a></li>
                            <li role="presentation">{{#link-to "logout"}} Logout {{/link-to}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>