<div class="left-sidebar">
	<ul class="nav nav-tabs nav-stacked">
	    <li>
		    	{{#linkTo search.university}}
		    		UNIVERSITIES
                    <i class="icon-search pull-right"></i>
		    	{{/linkTo}}
	    </li>
	    <li>
		    	{{#linkTo search.course}}
		    		COURSES
                    <i class="icon-search pull-right"></i>
		    	{{/linkTo}}
	    </li>
    </ul>
</div>
