<!--

Holds the html of the left sidebar
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->
<div class="left-sidebar">
	<ul class="nav nav-tabs nav-stacked">
	    <li>
		    	{{#linkTo search.university}}
		    		UNIVERSITIES
		    	{{/linkTo}}
	    </li>
	    <li>
		    	{{#linkTo search.course}}
		    		COURSES
		    	{{/linkTo}}
	    </li>
    </ul>
</div>
