<div class="left-sidebar">
	<ul class="nav nav-tabs nav-stacked">
	    <li>
		    	{{#linkTo search}}
		    		Search
                    <i class="icon-search pull-right"></i>
		    	{{/linkTo}}
	    </li>
    </ul>
</div>
