<div class="left-sidebar">
	<ul class="nav nav-tabs nav-stacked">
	    <li>
		    	<a href="#">
		    		UNIVERSITIES
		    	</a>
	    </li>
	    <li class="active">
		    	<a href="#">
		    		COURSES
		    	</a>
	    </li>
    </ul>
</div>
