<div id="masthead">
    
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h2></h2>
				<p></p>
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->	
	
</div>