<!--

Holds the html of the navigation bar

author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="nav-bar">
	<label>My Courses</label>
	<p>Linear Algebra 1</p>
	<p>Calculus 1</p>
	<p>Statistics</p>
	<p>Chemistry 1</p>
		{{#link-to "homepage.chooseFaculty"}}Add course{{/link-to}}
	<div class="bor"></div>
	<label>Classmates</label>
	<p>Yariv Katz</p>
	<p>Doron Nachshon</p>

</div>