<div class="_search">
	<div class="container search-form">
		<div class="row">
			<div class="span10">
				<form>
					<div class="input-prepend">
						<span class="add-on nerdeez-add-on"><i class="icon-search"></i></span>
						<input type="text" placeholder="Search for university" class="nerdeez-text-input span6">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>