<div id="topbar">
    
	<div class="container">
		
		<div id="top-nav">
			
			<ul class="pull-right">
                {{#if Nerdeez.isConnected}}
				<li><a href="javascript:;"><i class="icon-user"></i> Logged in as John Doe</a></li>
                <li>{{#linkTo "logout"}}
                <i class="icon-power-off"></i>
                Logout{{/linkTo}}</li>
                {{else}}
                <li>
					{{#linkTo "login"}}
                    <i class="icon-lock"></i>
                    Login
                    {{/linkTo}}
                    
				</li>
				<li>
                  {{#linkTo "register"}}
                                    <i class="icon-pencil"></i>
                                    Register
                  {{/linkTo}}
                </li>
                {{/if}}
			</ul>
			
		</div> <!-- /#top-nav -->
		
	</div> <!-- /.container -->
	
</div>