<div id="topbar">
    
	<div class="container">
		
		<div id="top-nav">
			
				{{social-like}}
			
			<ul class="pull-right">
                {{#if Nerdeez.auth.isLoggedIn}}
                <li>
	                {{#linkTo "logout"}}
		                <i class="icon-power-off"></i>
		                Logout
		            {{/linkTo}}
		        </li>
                <li>
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		                <i class="icon-cog"></i>
						Settings
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
                          <li>
	                          {{#linkTo "changePassword"}}
		                          Change Password
	                          {{/linkTo}}
	                      </li>
                    </ul>
		        </li>
		        
                {{else}}
                <li>
					{{#linkTo "login"}}
                    <i class="icon-lock"></i>
                    Login
                    {{/linkTo}}
                    
				</li>
				<li>
                  {{#linkTo "register"}}
                                    <i class="icon-pencil"></i>
                                    Register
                  {{/linkTo}}
                </li>
                {{/if}}
			</ul>
			
		</div> <!-- /#top-nav -->
		
	</div> <!-- /.container -->
	
</div>