    


{{partial "header"}}
<div id="content">
    <div class="container">
        <div class="row">
	    	<!--<div class="col-md-2" id="left-sidebar-location">
			    {{partial "left-sidebar-application"}}
			    
			    {{partial "history-bar"}}
		    </div>-->
		    <div class="col-md-12" id="main-outlet">
			    {{outlet}}
			</div>
		</div>
    </div>
</div>
<div class="push"></div>