    


{{partial "header"}}
<div class="content" id="content">
    <div class="container">
        <div class="row">
        	<br>
	    	<div class="col-md-2" id="left-sidebar-location">
			    {{partial "nav-bar"}}
		    </div>
		    <div class="col-md-10" id="main-outlet">
			    {{outlet}}
			</div>
		</div>
    </div>
</div>
<div class="push"></div>