<div class="container">
    {{partial "header"}}
    <div class="container top-buffer">
	    <div class="row">
		    <div class="span2">
			    {{partial "left-sidebar"}}
		    </div>
		    <div class="span10">
			    {{outlet}}
			</div>
		</div>
	</div>
</div>
<div id="push"></div>