<!--

Holds the html of the flatpage
author: Doron Nachshon
copyright: nerdeez.com
version: 1.0

-->

<div class="flatpage">
	<img src="{{unbound view.staticUrl}}img/loading.gif" id="loader"></img>
	<div class="row">
		<div class="span10">
			{{#each controller}}
				<div>{{{html}}}</div>
			{{/each}}
		</div>
	</div>
</div>