<!--

Holds the html of the application header
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<header class="header">
	<div class="container">
		<div class="row">
			<div class="span2">
				<img {{bindAttr src="view.staticUrl"}} />
			</div>
			<div class="span5">
				<ul class="nav nav-pills">
					<li class="active">
						<a href="/#">Home</a>
					</li>
					<li>
						<a href="/#/about">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>