<!--
	application homepage is defined here
	
	Created November 9th, 2013
	@author: Doron Nachshon
	@version: 2.0
	@copyright: Nerdeez 
-->

<div class="homepage">
  <div class="color-blocks">
    <div class="row">
      <div class="col-md-4">
        <div class="c-block">
          <!-- Left column with color background -->
          <div class="col-l b-orange">
            <!-- Link -->
            <a href="contactus.html">
              <!-- Icon -->
              <i class="icon-envelope-alt"></i>
              <!-- Text -->
              Contact
            </a>
          </div>
          <div class="col-r b-orange">
            <a href="aboutus.html">
              <i class="icon-user"></i>
              About
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
	    <div class="bor"></div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10">
      <div class="bor"></div>
      {{outlet}}
    </div>
  </div>
</div>