<!--
	application homepage is defined here
	
	Created November 9th, 2013
	@author: Doron Nachshon
	@version: 2.0
	@copyright: Nerdeez 
-->

<div class="homepage">
	<div class="bor"></div>

    <div class="bor"></div>

    <div class="row">
		<div class="col-md-4">
			<div class="f-block b-orange">
				<a href="#">
				<i class="fa fa-music"></i>
				</a>
				<a href="#">
				<h4>Morbi Acfelis Ecmauris</h4>
				</a>
				<p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.</p>
			</div>
		</div>
	</div>

	<div class="bor"></div>

	<hr />
</div>