
<div class="landing-page">
	<header>
		<div class="container top-buffer">
			<div class="row center">
				<div class="col-md-12">
					<h2> Homework Made Easy </h2>
					<h3> Find and share homework, all in one place </h3>
					<div class="bor"></div>
					<button class="btn btn-default">
						Sign up
					</button>
					<div class="bor"></div>
					<hr>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="bor"></div>
		<div class="row">
			<div class="col-md-3">
				<h6 class="bold grey">SOME TAG</h6>
				<h3>What We Do In Free Time?</h3>
				<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				<a href="#">
				<hr>
			</div>
			<div class="col-md-7">
				<div class="service-icon red">
					<i class="icon-camera"></i>
				</div>
				<div class="service-content">
					<h5>We Design Websites</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<hr>
				<div class="service-icon orange">
					<i class="icon-desktop"></i>
				</div>
				<div class="service-content">
					<h5>Our Designs are Responsive</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<hr>
				<div class="service-icon lblue">
					<i class="icon-cloud"></i>
				</div>
				<div class="service-content">
					<h5>Everything in Cloud</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
					<hr>
				</div>
				<div class="service-icon purple">
					<i class="icon-user"></i>
				</div>
				<div class="service-content">
					<h5>Top Notch Support</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<br>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>