
<div class="landing-page">
	<header>
		<div class="container top-buffer">
			<div class="row center">
				<div class="col-md-12">
					<h2> Homework Made Easy </h2>
					<h3> Find and share homework, all in one place </h3>
					<div class="bor"></div>
					<p>
					<button class="btn btn-default" data-toggle="modal" data-target="#sign-up-modal">
						Sign up
					</button>
					</p>
					<p>
						or
						<a href="#" data-toggle="modal" data-target="#log-in-modal">
							Log in
						</a>
					</p>
					<div class="bor"></div>
					<hr>
					<h5>Sign in using</h5>
					<div class="bor"></div>
					<ul class="nav nav-pills">
						<li>
							<i class="fa fa-twitter" {{action "twitterLogin" target="controllers.login"}}></i>
						</li>
						<li>
							<i class="fa fa-facebook" {{action "fbLogin" target="controllers.login"}}></i>
						</li>
					</ul>
					<hr>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="bor"></div>
		<div class="row">
			<div class="col-md-7 col-md-offset-3">
				<div class="service-icon red">
					<i class="fa fa-camera"></i>
				</div>
				<div class="service-content">
					<h5>We Design Websites</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<hr>
				<div class="service-icon orange">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="service-content">
					<h5>Our Designs are Responsive</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<hr>
				<div class="service-icon lblue">
					<i class="fa fa-cloud"></i>
				</div>
				<div class="service-content">
					<h5>Everything in Cloud</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
					<hr>
				</div>
				<div class="service-icon purple">
					<i class="fa fa-user"></i>
				</div>
				<div class="service-content">
					<h5>Top Notch Support</h5>
					<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
				</div>
				<br>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<!-- Sign up Modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		        <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		        <h4 class="modal-title" id="myModalLabel" tabindex="1">Sign up</h4>
		    </div>
			<div class="modal-body">
				{{render "register" register}}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Sign in Modal -->
<div class="row">
	<div class="col-md-8">
		<div class="modal fade" id="log-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				    <div class="modal-header">
				    	<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
				        <h4 class="modal-title" id="myModalLabel" tabindex="2">Log in</h4>
				    </div>
					<div class="modal-body">
						{{render "login" login}}
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>

<!-- Activation Modal -->
<div class="modal fade" id="activation-modal" tabindex="-1" rolde="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Success!</h3>
				<h4>  Now Activate Your Account </h4>
			</div>
			<div class="modal-body">
				<h5> A verification mail was sent to your email address </h5>
			</div>
			<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
      		</div>
		</div> 
	</div> 
</div> 

<!-- Twitter Activation Modal -->
<div class="modal fade" id="twitter-activation-modal" tabindex="-1" rolde="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Success!</h3>
				<h4>  Please authorize the app with your twitter account, and then log in using your Twitter account </h4>
			</div>
			<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
      		</div>
		</div> 
	</div> 
</div> 