<div class="login">
    <h1>Login page</h1>
    <div class="modal">
        <div class="modal-body">You need to login to continue</div>
        <div class="modal-footer">
            <a class="btn primary" {{action "login"}}>Login with Facebook</a>
        </div>
    </div>
</div>