<!--
	The handlebars for the choosing faculty
	
	Created October 25th, 2013
	@author: Yariv Katz
	@version: 1.02
	@copyright: Nerdeez 
-->


<div class="choose-faculty">
	
	<!-- begin uni explain -->
	<div class="row">
		<div class="span10">
			{{partial "wall-header"}}
		</div>
	</div>
	<!-- end uni explain -->
	
	
	<!-- begin explain -->
	<div class="row explain">
		<div class="span10 account-container login stacked top-buffer">
			<h3>
				Choose your {{chooseTitle}}
			</h3>
			<p>
				Pick your {{chooseTitle}} from the list below
			</p>
		</div>
	</div>
	<!-- end explain -->
	
	<!-- begin results -->
	{{outlet}}
	<!-- end results -->
	
	
</div>