<!--

Holds the html of the course search page
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<div class="">
	<div class="row">
		<div class="span6 offset2">
			<h1>Search for your course, university or faculty</h1>
		</div>
	</div>
</div>
