<!--

Holds the html of the search page
make sure to keep bootstrap grid system

author: Doron Nechshon
copyright: Nerdeez Ltd.
version: 1.0

-->

<div class="search">
	<h1>
		Search page
	</h1>	
</div>
