<!--
	handlebar for the under construction page
	
	Created October 20th, 2013
	@author: Yariv Katz
	@version: 1.0
	@copyright: Nerdeez Ltd
-->

<div class="under-construction account-container login stacked">
	<i class="icon-wrench">
	</i>
	<br/>
	<div class="explain">
		<span>
			We are sorry but this page is under construction
		</span>
	</div>
</div>