

<div class="welcome">
	<div class="welcome-top-container">
		<div class="welcome-top-color">
		</div>
		<div class="welcome-top-box">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
						<!--<div class="logo">
							<img src="{{unbound view.staticUrl}}img/nerd-solving-large.png" />
						</div>-->
							<div class="span12 welcome-title top-buffer">
								<div class="row">
									<div class="span9 offset1 top-buffer">
										<h1>Homework made easy</h1>
										<p>Find and share homework, all in one place</p>
									</div>
									<div class="span2 pull-right top-buffer">
										<img src="{{unbound view.staticUrl}}img/nerd-solving-large.png" />
										<!--<img src="https://s3-eu-west-1.amazonaws.com/nerdeez-public/nerdeez-logo.png" />-->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span9 offset3">
								<button class="btn btn-secondary" {{action registerLink}}> Sign up </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="welcome-buffer-container">
		<div class="welcome-buffer-color">
		</div>
		<div class="welcome-buffer-box">
		</div>
	</div>
	<div class="welcome-bottom-container">
		<div class="welcome-bottom-color">
		</div>
		<div class="welcome-bottom-box">
			<div class="container">
				<div class="sign">
					<div class="row">
						<div class="span5 offset1 top-buffer">
							<h5>
							<p>
								<div class="signin">
									Or {{#link-to "login"}} Sign in {{/link-to}}
								</div>
							</p>
							<p>
								and gain access to {{numFiles}} files in our system!
							</p>
							</h5>
						</div>
						<div class="span5 offset1 top-buffer">
							<h5>
								<p>
									Just want to take a look?
								</p>
								<div class="guest">
									<a>Enter as guest</a>
								</div>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>