<!--
	this will hold the about page of a school group
	this handlebar already gets a school group
	
	Created October 3rd, 2013
	@author: Doron Nachshon
	@copyright: Nerdeez Ltd.
	@version: 1.0
-->

<div class="schoolgroup-about">
	<h1>About page {{title}}</h1>
</div>