<!--
	the school group main is located here
	The top section of this page is shared in the course files page as well
	so it's a partial
	
	Created October 3rd, 2013
	@author: Doron Nachshon
	@copyright: Nerdeez Ltd.
	@version: 1.0
-->

<div class="schoolgroup">
	<div class="schoolgroup-wall">
		<div class="row">
			<div class="span10">
				{{partial wall-header}}
				<div class="wall-comments nerdeez-box">
					{{fb-comment}}
				</div>
			</div>
		</div>
</div>
</div>