<!--
	the school group wall is located here
	be aware that the top section of this page is shared in the course files page as well
	so it should be a partial
	
	Created October 3rd, 2013
	@author: Doron Nachshon
	@copyright: Nerdeez Ltd.
	@version: 1.0
-->

<div class="schoolgroup-wall">
	<h1>Wall {{title}}</h1>
</div>