

<div class="add-course">
	<div class="row">
		<div class="col-md-12">
			<div class="bor"></div>

        <!-- Image blocks starts -->

        <ul class="hover-block">

          <li>

            <a href="#">
              <!-- Image -->
              <img alt="" src="img/photos/tn_1.jpg"> 
              <!-- Content with background color Class -->
              <div class="hover-content b-orange" style="top: 125px;">
                <h6>Beautiful Girl</h6>
                Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit. 
              </div>
            </a>

          </li>


          <li>

            <a href="#">
              <img alt="" src="img/photos/tn_2.jpg"> 
              <div class="hover-content b-red" style="top: 125px;">
                <h6>Suspendisse Girl</h6>
                Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit. 
              </div>
            </a>

          </li>


          <li>

            <a href="#">
              <img alt="" src="img/photos/tn_3.jpg"> 
              <div class="hover-content b-purple" style="top: 125px;">
                <h6>Morbi Girl</h6>
                Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit. 
              </div>
            </a>

          </li>


          <li>

            <a href="#">
              <img alt="" src="img/photos/tn_4.jpg"> 
              <div class="hover-content b-lblue" style="top: 125px;">
                <h6>Aenean Girl</h6>
                Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit. 
              </div>
            </a>

          </li>            

        </ul>

        <div class="clearfix"></div>

        <!-- Image blocks ends -->
		</div>
	</div>
</div>