

<div class="add-course">
    <div class="row">
      <div class="col-md-4">
        <div class="c-block">
          <!-- Left column with color background -->
          <div class="col-l b-orange">
          {{#link-to "homepage.addCourse"}}
            <!-- Link -->
              <!-- Icon -->
              <i class="icon-envelope-alt"></i>
              <!-- Text -->
              Course 1
          {{/link-to}}
          </div>
          <div class="col-r b-orange">
            <a href="aboutus.html">
              <i class="icon-user"></i>
              Course 2
            </a>
          </div>
      </div>
  </div>
      <div class="col-md-4">
      	<div class="c-block">
        <!-- Left column with color background -->
		<div class="col-l b-orange">
			<!-- Link -->
			<a href="contactus.html">
			<!-- Icon -->
			<i class="icon-envelope-alt"></i>
			<!-- Text -->
			Course 3
		</a>
		</div>
		<div class="col-r b-orange">
		<a href="aboutus.html">
		  <i class="icon-user"></i>
		  Course 4
		</a>
		</div>
        <div class="clearfix"></div>
      </div>
	    <div class="bor"></div>
    </div>
  </div>
</div>
