

<div class="choose-faculty">
	<div class="row">
  		<div class="col-md-2">
	        <div class="c-block">
	        	<!-- Left column with color background -->
	        	<div class="col b-orange">
	        		{{#link-to "homepage.addCourse"}}
	            	<!-- Link -->
	            	<!-- Icon -->
	            	<i class="icon-envelope-alt"></i>
	              	<!-- Text -->
	              		Faculty 1
	          		{{/link-to}}
	            </div>
	      	</div>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="c-block">
          		<div class="col b-orange">
	            	<a href="aboutus.html">
	              		<i class="icon-user"></i>
		            	Faculty 2
		            </a>
	          	</div>
	        </div>
  		</div>
  		<div class="col-md-2">
  			<div class="c-block">
    		<!-- Left column with color background -->
				<div class="col b-orange">
				<!-- Link -->
					<a href="contactus.html">
						<!-- Icon -->
						<i class="icon-envelope-alt"></i>
						<!-- Text -->
						Faculty 3
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="c-block">
				<div class="col b-orange">
					<a href="aboutus.html">
						<i class="icon-user"></i>
						Faculty 4
					</a>
				</div>
			</div>
		</div>
	    <div class="clearfix"></div>
    </div>
    <div class="bor"></div>
</div>