

<div class="choose-faculty">
	<div class="color-blocks">
    <div class="row">
      <div class="col-md-4">
        <div class="c-block">
          <!-- Left column with color background -->
          <div class="col-l b-orange">
            <!-- Link -->
            {{#link-to "homepage.addCourse"}}
              <!-- Icon -->
              <i class="icon-envelope-alt"></i>
              <!-- Text -->
              Faculty 1
            {{/link-to}}
          </div>
          <div class="col-r b-orange">
            <a href="aboutus.html">
              <i class="icon-user"></i>
              Faculty 2
            </a>
          </div>
        </div>
        <div class="c-block">
          <!-- Left column with color background -->
          <div class="col-l b-orange">
            <!-- Link -->
            <a href="contactus.html">
              <!-- Icon -->
              <i class="icon-envelope-alt"></i>
              <!-- Text -->
              Faculty 3
            </a>
          </div>
          <div class="col-r b-orange">
            <a href="aboutus.html">
              <i class="icon-user"></i>
              Faculty 4
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
	    <div class="bor"></div>
    </div>
  </div>
</div>