.add-course {
	ul.hover-block {
		li {
			width: 23%;
			a {
				min-height: none;
				width: 100%;
				height: 100%;
				outline: solid 1px #FE781E;
				.logo, .hover-content {
					height: 100%;
					width: 100%;
					i {
						font-size: 40px;
					}
					.fa.fa-folder-o {
					    font-size: 80px;
					    left: 29%;
					    position: relative;
					    top: 16%;
					}
				}
			}
		}
	}
}