/**
 * 	stylesheet for the add course page
 * 
 * Created September 28th, 2013
 * @author: Yariv Katz
 * @version: 1.0
 * @copyright: Nerdeez Ltd.
 * 
 */

.add_school_group{
	.account-container{
		width: 514px;
		.faqList.faq-list{
			li{
				display: none;
				margin: 0 auto;
				.description{
					clear: both;
				    display: table;
				    float: none;
				    margin: 0 auto;
				    text-align: center;
				}
				.actions{
    					text-align: center;
    					a.btn{
    						float: none;
    						clear: both;
    						margin-left: 10px;
    					}
    					a.btn:nth-of-type(1){
    						margin-left: 0 !important;
    					}
    					label{
      					  text-align: left;
    					}
				}
				.actions.type{
					button:nth-of-type(1){
						margin-right: 10px;
					}
					button:nth-of-type(2){
						margin-right: 10px;
					}
					
				}
				.actions2{
    				  text-align: center;
    				  button{
      				    margin-top: 0px; float: none;
      				    i.icon-plus{
        				      position: relative; top: 4px
      				    }
    				  }
				}
				.loading{
    				  position: relative;
            top: 30px;
				}
				.next{
    				  position: relative; top: 25px;
				}
				.alert{
				  position: relative; top:25px; margin-top: 15px
				}
			}
			#faq-1{
				display: block;
			}
			#faq-3-course-faculty-uni{
    			  .next{
              top: 6px !important;
    			  }
			}
		}
	}
}
