/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/


html, body {
    height: 100%;
    background: url('/static/app/img/bg.png');
}

#push {
    height: 40px;
}

#footer {
    height: 40px;
    .background {
        @include background-image(linear-gradient(#231f20, #3d3c3e));
    }
    .text-color {
        color:white;
    }
    .wrapper {
        margin: 0 auto -20px;
    }
    img{
        height: 30px;
        width: auto;
    }
}

#wrap {
    height: auto !important;
    margin: 0 auto -40px;
    min-height: 100%;
}

/**
 *   top margins between rows and elements
 */
.top-buffer{
    margin-top: 20px;
}

/**
 *   text input height
 */
.nerdeez-text-input{
    height: 30px !important;
    font-size: 20px !important;
}

.nerdeez-add-on{
    height: 30px !important;
    width: 30px !important;
    i{
        font-size: 22px;
        position: relative;
        top: 4px;
    }
}