/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/


html, body {
    height: 100%;
}

#push, #footer {
    height: 60px;
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

/**
 *   top margins between rows and elements
 */
.top-buffer{
    margin-top: 20px;
}

/**
 *   text input height
 */
.nerdeez-text-input{
    height: 30px !important;
    font-size: 20px !important;
}

.nerdeez-add-on{
    height: 30px !important;
    width: 30px !important;
}
