/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: Nerdeez Ltd
* @author: Yariv Katz, Doron Nachshon
*/

$nerdeezPink: #F54D70;

html, body {
    height: 100%;
    /* unvisited link */
    background-image: url('/static/theme/img/signin/login-bg.png');
}

#content{
    margin-bottom: 1em !important;
}

ul.nav.nav-pills li {
    a:link {
        color: white;
    }
    a:visited {
        color: white;
        background-color: none;
    }
    a:hover {
        color: black;
    }
    a:active {
        background-color: none;
    }
    a.active {
        color: white;
        background-color: #F54D70;
        &:hover {
            background-color: #F54D70;
        }
    }
}

.push {
    height: 55px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px; /* the bottom margin is the negative value of the footer's height */
}

/**
 *   top margins between rows and elements
 */
.top-buffer{
    margin-top: 20px;
}

/**
 *   text input height
 */
.nerdeez-text-input{
    height: 30px !important;
    font-size: 20px !important;
}

.nerdeez-add-on{
    height: 30px !important;
    width: 30px !important;
    i{
        font-size: 22px;
        position: relative;
        top: 4px;
    }
}

i.nerdeez-search{
    float: left; height: 38px; left: 34px; position: relative; top: 14px; font-size: 24px; width: 39px;
}

input.nerdeez-search{
    padding-left: 44px !important;
    width: 85% !important;
}

.center{
    margin: 0px auto; clear: both; float: none;
}

.nerdeez-inputs{
    height: 41px !important;
    width: 100% !important;
    color: #555555;
}

.loading{
    i.icon-refresh.icon-spin{
        
    }
}

.rating { //design for the star rating created by the getRating handlebar
    font-size: 18px;
    margin-top: 3px;
    margin-right: 55px;
    color: #E6C200;
    float: left;
    ul {
        list-style: none;
    }
    .icon-star, .icon-star-empty, .icon-star-half-empty {
        padding-right: 3px;
    }
}

/**
 *  the loading sign on the forms
 */

.account-container{
  .loading{
      height: 30px;
      text-align: center;
      font-size: 30px;
      i{
          width: 30px;
      }
  }
  .alert{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
  }
}

textarea{
  resize: none;
  width: 100%;
  
  background-color: #FDFDFD;
  @include box-shadow(#F1F1F1 2px 2px 4px inset);
  color: #8E8D8D;
  display: block;
  font-family: 'Open Sans';
  font-size: 13px;
}

/**
 *   in modals set the loading icon in the right place
 */

.modal{
    form{
        margin: 0;
    }
    .modal-footer{
        .loading{
            float: left;
            font-size: 30px;
            position: relative;
            top: 8px;
            i{
                width: 30px;
            }
        }
        .alert{
            float: left;
            margin: 0;
        }
    }
    .modal-header{
        .close{
            position: relative;
            top: 16px;
            font-size: 30px;
        }
    }
    .formError {
        left: 216px !important;
    }
}

/*.nerdeez-select{
    z-index: 10; opacity: 0;
    height: 26px !important;
    line-height: 26px;
    position: relative;
    width: 166px !important;
    
}

span.select{
    background: url("/static/app/img/bg_select.gif") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: default;
    float: left;
    height: 26px;
    left: 0;
    line-height: 26px;
    position: absolute;
    text-indent: 10px;
    width: 166px;
    z-index: 1;
}*/

/*.nerdeez-select{
    padding-left: 6px;
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    @include border-radius(0 0 0 0);
    color: #62717A;
    font-size: 12px;
    height: 28px;
    line-height: 14px;
    margin: 0;
    padding: 6px 8px 6px 10px;
    position: relative;
    text-shadow: 0 1px white;
    @include text-shadow(white 0 1px 0);
    width: 130%;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: medium none;
}

.dropdown:before, .dropdown:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #888888 transparent;
    border-image: none;
    border-style: dashed;
    border-width: 4px;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 0;
    z-index: 2;
}

.dropdown:after {
    border-bottom: medium none;
    border-top-style: solid;
    margin-top: 7px;
}

.dropdown:before, .dropdown:after {
    content: '';
position: absolute;
z-index: 2;
top: 9px;
right: 10px;
width: 0;
height: 0;
border: 4px dashed;
border-color: #888 transparent;
pointer-events: none;
}

.dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: repeat scroll 0 0 #F2F2F2;
    @include background(
                      linear-gradient(top bottom, transparent, rgba(0, 0, 0, 0.06))
                      );
    border-color: white #F7F7F7 #F5F5F5;
    border-image: none;
    @include border-radius(3px 3px 3px 3px);
    border-style: solid;
    border-width: 1px;
    @include box-shadow(rgba(0, 0, 0, 0.08) 0 1px 1px);
    display: inline-block;
    height: 28px;
    overflow: hidden;
    position: relative;
    width: 150px;
}*/

.btn:focus{
    background-color: #F7A01F !important;
    /*background-image: linear-gradient(to bottom, #FFAD33, #EB8D00);*/
    @include background-image(linear-gradient(right bottom, #FFAD33, #EB8D00));
    background-repeat: repeat-x;
}

