/**
 * the stylesheet for the banks application
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 * @author: Yariv Katz
 */
 
.banks{
    text-align: right;
    .faq-container{
        direction: rtl;
        .details{
            margin-right: 20px;
            p{
                margin-right: 40px;
            }
            .login-fields{
                margin-right: 40px;
                input{
                    font-size: 18px;
                    height: 43px;
                    padding: 3px 18px 2px 0 !important;
                }
            }
        }
    }
    .row{
        margin-top:0 !important;
    }
    form{
        button{
            i.icon-search{
                left: 4px;
                position: relative;
                top: 5px;
            }
        }
    }
    .results{
        display: none;
        .plan{
            .plan-price{
                padding-top: 10px;
                .thumbnail{
                    width: 94%; margin: 0px auto;
                    img{
                        height: 100px;
                    }
                }
            }
            .plan-features{
                height: 254px;
                li{
                    direction: rtl;
                }
            }
            .plan-actions{
                i{
                    float: right;
                    font-size: 27px;
                    position: relative;
                    right: 30px;
                    top: 5px;
                }
            }
        }
    }
    #windowTitleDialog{
        
        i.icon-ok{
            color: green;
        }
    }
    #windowTermsDialog{
        i.icon-info{
            color: blue;
        }
        ul{
            direction: rtl; margin-right: 28px; float: right;
        }
    }
    .modal-header{
        a.close{
            position: relative; top: 16px; font-size: 30px;
        }
    }
    .modal{
        i{
            font-size: 44px;
        }
    }
}