/**
 * styles define for the falt pages: about, terms, privacy ... 
 * 
 * Created July 24th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 */
 
 .flatpage{
    .account-container.login.stacked{
        width: 100%;
        margin-top: 0;
        padding: 20px;
        @include box-sizing(border-box);
        margin-bottom: 20px;
    }
 }
 
 
 