/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Doron Nachshon
*
*/

#footer {
    height: 55px;
    .nerdeez-links{
        li{
            float: left;
            a{
                color: white !important;
                display: table-footer-group;
            }
            a:hover,a:focus{
                background-color:transparent !important;
            }
        }
        li:nth-of-type(2){
            margin-left: 17px;
        }
    }
}