/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/

#header{
    .logo{
        position: relative;
        top: 14px;
    }
    .menu{
        position: relative;
        top: 32px;
        a.active{
            background: none repeat scroll 0 0 #FFFFFF;
            border-bottom-color: #FFFFFF;
            box-shadow: none;
            color: #303030;
            filter: none !important;
            text-shadow: none;
            text-decoration: none;
        }
        .home{
            height: 20px;
            a{
                height: 20px;
                i{
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
}


