/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/

._header {
	height: 80px;
    width: 100%;
    @include background(linear-gradient(to bottom, #3D3D3D, #454545));
    .logo{
    	padding-top: 15px;
		padding-left: 10px;
    }
    .tobottom{
	    position: relative;
	    right: 20px;
	    top: 40px;
	}
}


