/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/


#header {
    a:hover, a:focus, a:active {
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }
    header {
        background-color: #FE781E; 
        .logo {
            padding: 0;
            position: relative; 
            top: 10px;
        }
        form {
            padding: 28px 0 10px 0;
            .form-group {
                width: 280px;
                input {
                    padding: 10px 35px 10px 18px;
                    border-radius: 14px !important;
                    border: none;
                }
                i {
                    position: absolute;
                    bottom: 26%;
                    left: 66%;
                    font-size: 18px;
                }
            }
        }       
    }
    .dropdown {
        font-size: 20px;
        padding-top: 35px;
        a {
            color: #FFFFFF;
        }
        .dropdown-menu {
            margin-top: 12px;
            a {
                padding: 5px 0 5px 10px !important;
                border: none;
            }
        }
    }
}


/**
#header {
  //width: -moz-max-content !important;
    .logo{
        position: relative;
        top: 14px;
        margin-bottom: 0;
    }
    .menu{
        position: relative;
        top: 32px;
        .nav-collapse{
            height: 66px;
            a.active{
                background: none repeat scroll 0 0 #FFFFFF;
                border-bottom-color: #FFFFFF;
                box-shadow: none;
                color: #303030;
                filter: none !important;
                text-shadow: none;
                text-decoration: none;
            }
            li{
                display: inline-block;
                width: -moz-max-content;
            }
        }
    }
}

#masthead{
    padding-top: 14px; padding-bottom: 14px;
    //width: -moz-max-content !important;
    .masthead-text{
        p{
            font-size: 18px;
            a{
                color: #e62a59;
                text-decoration: none;
                display: inline-block;
                &:hover{
                    color: #888888;
                }
            }
            i{
               margin-left: 10px;       
                position: relative;
                top: 5px;
            }
            i:nth-last-of-type(1){
                  display: none;
                }
        }
    }
}


**/