/**
 * stylesheet for the homepage
 * 
 * Created October 20th, 2013
 * @author: Yariv Katz
 * @version: 2.0
 * @copyright: Nerdeez
 */

.homepage{
    .quickstart, .donation{
        -moz-box-sizing: border-box;
        margin-bottom: 20px;
        margin-top: 0 !important;
        padding: 20px;
        width: 100%;
        padding-right: 0px; 
        padding-left: 0px;
    }
    .quickstart{
        height: 191px;         
        .padding-left{
            padding-left: 20px;
            @include box-sizing(border-box);
        }
        .button{
            margin-top: 0;
            float: none;
            height: 41px;
            width: 88%;
            i.icon-search{
                bottom: 0;
                float: left;
                left: 8px;
            }
        }
    }
    .donation{
        height: 456px;
        .explain{
            h2{
                text-align: center;
            }
        }
        .images{
            .thumbnail{
                width: 30%;
                float: left;
                img{
                    
                }
            }
        }
        .actions{
            text-align: center;
            .button{
                float: none;
            }
        }
    }
    .uni-carousel{
        h3{
            padding-left: 20px; margin-top: 20px;color: #555555
        }
        height: 228px;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 20px;
        .carousel{
            .carousel-inner{
                height: 130px;
                margin: 14px auto 0;
                width: 93%;
                .tumbnails.clearfix{
                    width: 100%; list-style: none outside none; margin-left: 0px;
                    li{
                        width: 22%;
                        float: left;
                        height: 100%;
                        margin-left: 4%;
                        .thumbnail{
                            height: 92%;
                            .image-wrapper{
                                img{
                                    height: 100%;
                                }
                            }
                        }
                    }
                    li:nth-of-type(1){
                        margin-left: 0 !important;
                    }
                }
            }
            .carousel-control{
                i{
                    font-size: 29px;
                    position: relative;
                    top: 14px;
                    
                }
                 margin-top: -7px;
                 background: none;
                 border: none;  
                 color: #AAAAAA; 
            }
            .carousel-control:hover{
                color: black;
            }
            .left.carousel-control{
                left: 0;
            }
            .right.carousel-control{
                right: 0;
            }
        }
    }
}
