/**
 * stylesheet for the homepage
 * 
 * Created October 20th, 2013
 * @author: Yariv Katz
 * @version: 2.0
 * @copyright: Nerdeez
 */

.homepage{
    .quickstart{
        -moz-box-sizing: border-box;
        margin-bottom: 20px;
        margin-top: 0 !important;
        padding: 20px;
        width: 100%;
        height: 191px; padding-right: 0px; padding-left: 0px;
        .padding-left{
            padding-left: 20px;
            @include box-sizing(border-box);
        }
        .button{
            margin-top: 0;
            float: none;
            height: 41px;
            width: 88%;
            i.icon-search{
                bottom: 0;
                float: left;
                left: 8px;
            }
        }
    }
}
