/**
 * 	stylesheet for the landing page
 * 
 * Created October 28th, 2013
 * @author: Doron Nachshon
 * @version: 1.0
 * @copyright: Nerdeez Ltd.
 * background (orange hue) #FBD192
 */

.landing-page {
	@include background (image-url('/static/themes/old-theme/img/signin/login-bg.png'));
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: auto;
	font-size: 14px;
	p , a {
		font-size: 20px;
    	font-weight: lighter;
    	line-height: 25px;
	}
	.btn {
		background-image: none;
		@include background-image(linear-gradient(#F69A0F, #EC9109));
		border: 1px solid black;
	}
	.btn:hover {
		background-color: #EC9109;
	}
	.btn:focus {
		background-image: none !important;
	}
	.popover {
		display: block;
	}
	.landing-page-top-container {
		position: relative;
		height: 460px;
		width: 100%;
		.landing-page-top-color {
			position: absolute;
			background-color: #FBD192;
			opacity: 0.55;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		.landing-page-top-box {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			.landing-page-title {
		 		h1 {
		 			font-size: 75px;
		    		letter-spacing: -2px;
		    		text-shadow: 4px 3px 0 #FFFFFF, 9px 8px 0 rgba(0, 0, 0, 0.15);
		 		}
		 		p {
		 			font-size: 37px;
				    margin-top: 55px;
		 		}
 			}
			.sign {
    			margin-top: 50px;
				.btn {
	 				height: 55px;
	 				width: 285px;
	 				font-size: 19px;
	 			}

	 			.signin {
		 			color: #4E4E4E;
				    font-size: 17px;
				    line-height: 17px;
				    margin-top: 25px;
	 			}
	 		}
	 		.guest {
	 			margin-top: 50px;
	 		}
		}
	}
	.landing-page-buffer-container {
		position: relative;
		height: 55px;
		width: 100%;
		.landing-page-buffer-color {
			position: absolute;
			@include background-image(linear-gradient(#FBD192, #fffaf4));
			opacity: 0.55;
			height:100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		.landing-page-buffer-box {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			.signup {
				p {
					font-size: 20px;
				    letter-spacing: 0;
				    line-height: 30px;
				    text-decoration: underline;
				}
			}
		}
	}
	.landing-page-bottom-container {
		position: relative;
		height: auto;
		width: 100%;
		.landing-page-bottom-color {
			position: absolute;
			background-color: white;
			opacity: 0.45;
			height: 1100px;
			width: 100%;
			top: 0;
			left: 0;
		}
		.landing-page-bottom-box {
			position: absolute;
			height: auto;
			width: 100%;
			top: 0;
			left: 0;
			letter-spacing: -1px;
			.top-buffer {
				margin-top: 80px !important;
			}
			.popover-box {
				position: relative;
				height: 130px;
			}
			.nerd-img {
				margin-top: 25px;
			}
		}
	}
}