/**
 * the style sheet for the loading template
 * 
 * Created October 14th, 2013
 * @author: Yariv Katz
 * @version: 1.0
 * @copyright: Nerdeez Ltd.
 */

.loading-hbs{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #888888;
    opacity: 0.6;
    i{
       position: relative;
       top: 50%;
       left: 50%; 
       font-size: 100px;
    }
}
