/**
 * stylesheet for the login page
 * 
 * Created: July 26th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 *
 */
 
 .login{
    .modal{
        top: 40%;
    }
    .modal-footer{
        .alert{
            margin-bottom: 0;
            i.icon-remove-sign{
                color: red;
            }
            i.icon-check-sign{
                color: green;
            }
        }
        .primary{
            @include background(linear-gradient(to bottom, #637BAD, #5872A7));
            @include border-radius(0 0 0 0);
            color: white;
            height: 30px;
            text-decoration: none;
            text-shadow: none;
            span{
                position: relative;
                top: 5px;
            }
        }
        .loading{
            float: left;
            font-size: 25px;
            left: 15px;
            position: relative;
            top: 6px;
        }
    }
 }