/**
 * stylesheet for the login page
 * 
 * Created: July 26th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 *
 */
 
 .login{
    .account-container.login.stacked{
        margin-top: 0;
        margin-bottom: 20px;
        .forget-password{
            clear: both;
            p{
                margin-bottom: 0px;
            }
        }
    }
 }