/**
 * stylesheet for the registration page
 * 
 * Created: July 26th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 *
 */
 
.register{
    margin-bottom: 20px;
    .account-container.register.stacked{
        margin-top: 0;
        .loading{
            height: 30px;
            text-align: center;
            font-size: 30px;
            i{
                width: 30px;
            }
        }
        .alert{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}