/**
 * styles for the wall, files and about of a school group
   Created October 3rd, 2013
 
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 * @author: Doron Nachshon
 */
 
.schoolgroup-wall{
    font-size: 14px;
    li {
        float: left;
    }
    .wall-resultbox { 
        height: 150px;
        margin-bottom: 30px;
        box-shadow: -5px 5px 4px 2px gray;
        .wall-action { //action pane
            height: 95px;
            background-color: white;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid gray;
            border-bottom: 0;
            .pic-content {
                float: left;
                padding-right: 15px;
                i {
                    display: block;
                    height: 80px;
                    width: 84px;
                    float: left;
                }
               .faculty-icon {
                    .schoolgroup-img {
                        display: block;
                        background-image: image-url("faculty-pic.png");
                        background-size: 85px 80px;
                    }
                }
                .course-icon {
                    .schoolgroup-img {
                        display: block;
                        background-image: image-url("course-pic.png");
                        background-size: 85px 80px;
                    }
                }
                .university-icon {
                    .schoolgroup-img {
                        display: block;
                        background-image: image-url("university-pic.png");
                        background-size: 85px 80px;
                    }
                }
            }
            .wall-content {
                .result-title {
                    font-size: 18px;
                    padding-bottom: 10px;
                    h3 {
                        display: inline;
                    }
                }
                .result-description {
                    h5 {
                        display: inline;
                    }
                }
            }
        }
        .wall-footer { //footer pane
            height: 35px;
            background-color: #E6E6E6;
            padding-left: 15px;
            border: 1px solid gray;
            border-top: 0;
            .wall-share {
                float: right;
                width: 500px;
                ul {
                    list-style: none;
                    margin: 0;
                    height: 20px;
                    padding-top: 9px;
                    float: left;
                    i {
                        color: #454545;
                    }
                }
                .like-status {
                    width: 300px;
                    font-size: 16px;
                    .icon-thumbs-up, .icon-thumbs-down {
                        padding-right: 3px;
                    }
                    .vertical-line {
                        position: relative;
                        bottom: 2px;
                        border-style: solid;
                        border-width: thin;
                        margin-left: 35px;
                        margin-right: 35px;
                        font-size: 11px;
                    }
                }
            }
            .entry-info {
                width: 300px;
            }
            .iconproperties {
                font-size: 20px;
                padding-right: 5px;
                .icon-user {
                    padding-top: 1px;
                }
                .icon-file-text {
                    padding-top: 2px;
                }
            }
        }
    }
 }
 
.schoolgroup-about{
  
}

.schoolgroup-files{
    #new-hw{
        .field.center{
            text-align: center;
            button.button{
                float: none;
            }
        }
        .uploaded-files{
            margin-top: 10px;
            text-align: center;
        }
    }
}
