/**
 * styles for the wall, files and about of a school group
   Created October 3rd, 2013
 
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 * @author: Doron Nachshon
 */
 
.schoolgroup-wall{
    font-size: 14px;
    li {
        float: left;
    }
    .wall-main { 
        .main-action { //action pane
            .pic-content {
                float: left;
                padding-right: 15px;
                .nerdeez-action-image {
                    background-size: 85px 80px;
                }
                i {
                    display: block;
                    height: 80px;
                    width: 84px;
                    float: left;
                }
            }
            .text-content {
                .result-title {
                    font-size: 18px;
                    padding-bottom: 10px;
                    h3 {
                        display: inline;
                    }
                }
                .result-description {
                    h5 {
                        display: inline;
                    }
                }
            }
        }
        .main-footer { //footer pane
            .main-share {
                float: right;
                width: 500px;
                ul {
                    list-style: none;
                    margin: 0;
                    height: 20px;
                    padding-top: 9px;
                    float: left;
                    i {
                        color: #454545;
                    }
                }
                .like-status {
                    width: 300px;
                    font-size: 16px;
                    .icon-thumbs-up, .icon-thumbs-down {
                        padding-right: 3px;
                    }
                    .vertical-line {
                        position: relative;
                        bottom: 2px;
                        border-style: solid;
                        border-width: thin;
                        margin-left: 35px;
                        margin-right: 35px;
                        font-size: 11px;
                    }
                }
            }
            .entry-info {
                width: 300px;
            }
            .iconproperties {
                font-size: 20px;
                padding-right: 5px;
                .icon-user {
                    padding-top: 1px;
                }
                .icon-file-text {
                    padding-top: 2px;
                }
            }
        }
    }

    .wall-comments {
        height: auto !important;
        background-color: white;
        border: 1px solid gray;
        .fb-comments {
            padding: 50px;
        }
    }
 }
 
.schoolgroup-about{
  
}

.schoolgroup-files{
    #new-hw{
        .field.center{
            text-align: center;
            button.button{
                float: none;
            }
        }
        .uploaded-files{
            margin-top: 10px;
            text-align: center;
        }
    }
    .table-controllers{
        .button{
            float: left;
        }
    }
    .hw-table{
        .table{
            td:nth-of-type(2){
                width: 100%;
            }
            td{
                min-width: 70px;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    i{
                        font-size: 26px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
}

.hw{
    .facebook-comments{
        .fb-comments{
            display: block;
            width: 100% !important;
            span{
                width: 100% !important;
                iframe{
                    width: 100% !important;
                }
            }
        }
    }
    .table{
        table-layout: fixed;
        td{
            vertical-align: middle;
            font-size: 13px;
            .badge{
                    position: relative;
                    top: 8px;
                }
                
            .actions-table{
                td{
                    border: none;
                    .single-action{
                        a{
                            max-width: 25px;
                        }
                    }
                }
            }
            .rating{
                font-size: 15px;
                width: auto !important;
                ul{
                    li{
                        i{
                            padding: 0;
                        }
                    }
                }
            }
        }
        a.nerdeez-button{
                font-size: 19px;
                i.icon-flag{
                    color: red;
                }
                
        }
        a{
            font-size: 13px;
            cursor: pointer;
            display: block;
        }
        td:first-child{
            max-width: 50px;
            white-space: normal;
            word-wrap: break-word;
        }
    }
    #flag-file{
        textarea{
            height: 89px;
        }
    }
}
