/**
 * styles for the wall, files and about of a school group
   Created October 3rd, 2013
 
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 * @author: Doron Nachshon
 */
 



.schoolgroup-wall{
    font-size: 14px;
    li {
        float: left;
    }
    .wall-comments {
        height: auto !important;
        background-color: white;
        border: 1px solid gray;
        .fb-comments {
            padding: 50px;
        }
    }
 }
 
.schoolgroup-about {
    height: 260px;
    .avatar-box {
        border: solid 1px grey;
        width: 85%;
        .avatar-footer {
            background-color: #2D2D2D;
            padding-bottom: 4px;
            h4 {
                color: white;
                margin: 0;
                text-align: center;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            }
        }
        .avatar-action {

        }
    }
    .schoolgroup-action {
        height: 75% !important;
        padding-top: 3% !important;
        font-size: 18px;
        .action-title {
            margin-bottom: 1.5em;
            h3 {
                display: inline;
            }
        }
        table {
            margin-bottom: 9px;
            td:nth-of-type(2) {
                display: inline;
            }
            .rating {
            font-size: 16px;
            margin: 0;
            padding-left: 8px;
                ul {
                    position: relative;
                    top: 3px;
                    height: auto;
                    padding: 0;
                }
            }
        }
    }
    .schoolgroup-footer {
        ul {
            padding-top: 0;
        }
        .fb-share {
            .btn-share {
                background-color: #3B5998;
                i {
                    background-color: white;
                    color: #3B5998 !important;
                    display: inline-table;
                    font-size: 26px;
                    padding-top: 2px;
                }
                span {
                    color: white;
                    padding-left: 8px;
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .btn-share:focus {
                background-color: #3B5998 !important;
                background-image: -moz-linear-gradient(right bottom , #3B5998, #3B5998);
                background-repeat: repeat-x;
            }
            .btn-share:hover, .btn-share:focus, .btn-share:active, .btn-share.active, .btn-share.disabled, .btn-share[disabled] {
                background-color: #3B5998;
            }
        }
    }
}

.schoolgroup-files{
    #new-hw{
        .field.center{
            text-align: center;
            button.button{
                float: none;
            }
        }
        .uploaded-files{
            margin-top: 10px;
            text-align: center;
        }
    }
    .table-controllers{
        .button{
            float: left;
        }
    }
    .hw-table{
        .table{
            td:nth-of-type(2){
                width: 100%;
            }
            td{
                min-width: 70px;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    i{
                        font-size: 26px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
}

.hw{
    .table{
        td{
            vertical-align: middle;
            .badge{
                    position: relative;
                    top: 8px;
                }
        }
        a.nerdeez-button{
                font-size: 26px;
                i.icon-flag{
                    color: red;
                }
                
        }
    }
    #flag-file{
        textarea{
            height: 89px;
        }
    }
}
