/**
* holds the styles of the search page
* this stylesheet is for the file: search.hbs
* make sure to keep the styles nested inside search and every class nested inside another
* 
* @copyright: Nerdeez Ltd.
* @version: 1.0
* @author: Doron Nachshon
*
*/

.search {
	font-size: 14px;
	a {
		color: #333333;
	}
	.filter-zone { // Filter selector
		width: 125px;
		.styled-select { //on top of standard select
			select {
			   background: transparent;
			   padding: 5px;
			   font-size: 16px;
			   line-height: 1;
			   border: 0;
			   border-radius: 0;
			   height: 34px;
			   -webkit-appearance: none;
			   outline: 0 !important;
			   padding-left: 14px;
			}
			width: 125px;
		   	height: 34px;
			overflow: hidden;
			background: white;
			border: 1px solid #ccc;
			margin-bottom: 18px;
			.select-icon {
				.icon-sort {
				    color: gray;
	    			font-size: 18px;
				    padding-left: 10px;
				    padding-top: 9px;
				    pointer-events:none;
				}
				bottom: 44px;
			    height: 34px;
			    left: 95px;
			    position: relative;
	    		width: 30px;
	    		background: #CCCCCC;
	    		pointer-events:none;
			}
		}
	}
	.nerdeez-inputs { //search text input
		border-radius: 0;
		border-right: 0;
		.search-query {
			border-radius: 0;
			height: 100%;
			width: 100%;
			padding-right: 30px;
			font-size: 16px;
		}
		.icon-search, .loading { //search icon and loading ball
			float: right;
			bottom: 29px;
		    display: block;
		    font-size: 20px;
		    position: relative;
		    right: 17px;
		}
	}
	.sortby { // sort by dropdown
		height: 22px;
		border-bottom: 1px solid grey;
		margin-top: 17px;
		h5 {
			width: 60px;
			float:left;
			margin: 0;
		}
		.dropdown {
			float: left;
		}
	}
	hr { // line to seperate between the page header (input) and content (output)
		border-color: #C3C3C3 !important;
		border-top: 1px;
	}
	.row {
		margin-top: 0 !important;
	} //number of results found, appears only after successful search
	.result-num {
		display: none;
		margin-bottom: 20px;
    	background: rgba(255,255,255, .5);
		height: 35px;
		padding-left: 15px;
		padding-bottom: 4px;
		padding-top: 4px;
		border: 1px solid #C0C0C0;
		.icon-book {
			float:left;
			padding-top: 9px;
			padding-right: 20px;
			font-size: 18px;
		}
		p {
			padding-top: 6px;
			font-size: 17px;
			b {
				padding-right: 2px;
			}
		}
	}
	.results { //results design
		list-style: none;
		margin: 0;
		li {
			float: left;
		}
		.hoveron { //hoverons are here for the hover design on the resultbox
			.resultbox { //each result
      			    height: 184px;
      			    margin-bottom: 30px;
      			    box-shadow: -5px 5px 4px 2px gray;
      			    .result-action { //action pane
          			    	height: 120px;
          			    	background-color: white;
          			    	padding-top: 24px;
          			    	padding-left: 15px;
          			    	padding-right: 15px;
          			    	border: 1px solid gray;
          			    	border-bottom: 0;
        				    .pic-container {
            				    	float: left;
            				    	padding-right: 15px;
        				    }
        				    .result-text {
            				    	display: table;
        				    }
        				    i {
            				    	display: block;
            				    	height: 95px;
            				    	width: 100px;
            				    	float: left;
            				}
        				    .faculty-icon {
            				    	.standard-img {
              				    		display: block;
              				    		background-image: image-url("faculty-pic.png");
            				    	}
        				    	.blurred-img {
          				    		display: none;
          				    		background-image: image-url("faculty-pic-blurred.png");
        				    	}
    				    }
    				    .course-icon {
        				    	.standard-img {
          				    		display: block;
          				    		background-image: image-url("course-pic.png");
        				    	}
        				    	.blurred-img {
          				    		display: none;
          				    		background-image: image-url("course-pic-blurred.png");
        				    	}
    				    }
    				    .university-icon {
        				    	.standard-img {
          				    		display: block;
          				    		background-image: image-url("university-pic.png");
        				    	}
      					    .blurred-img {
          					    	display: none;
          					    	background-image: image-url("university-pic-blurred.png");
      					    }
    				   }
				}
				.result-footer { //footer pane
    					height: 40px;
    					background-color: #E6E6E6;
    					padding-left: 15px;
    					border: 1px solid gray;
    					border-top: 0;
    					.result-user {
    						width: 245px;
    					}
    					ul {
    						list-style: none;
    						margin: 0;
    						height: 20px;
    						padding-top: 12px;
    						float: left;
    						
    					}
					.entry-info {
						& > li{
                  border-right: 3px solid #000000;
                  padding-right: 15px;
                  padding-left: 15px;
            }
            & > li:nth-of-type(1){
                  padding-left: 0;
            }
            & > li:nth-last-of-type(1){
                  border-right: none;
            }
            .rating{
                margin-right: 0;
                max-height: 17px;
                ul{
                    padding-top: 0;
                }
            }
					}
					i{
    					  font-size: 20px;
              padding-right: 5px;
					}
					.icon-user {
            padding-top: 1px;
          }
          .icon-file-text {
            padding-top: 2px;
          }
					.verticalLine {
	 				   	border-style: solid;
					    border-width: thin;
					    height: 18px;
					    margin-left: 40px;
					    margin-right: 40px;
					}
				}
			}
			h5, p {
				display: inline;
			}
			.hoveron-toggle { //hoveron design, display none
	    		display:none;
	    		a {
	    			color: white;
	    			text-decoration: none;
	    		}
    			bottom: 185px;
				position: relative;
    			height: 185px;
	    		.hoveron-main {
    	    			background-color: rgba(0, 0, 0, 0);
            height: 0;
            margin: 0 auto;
            position: relative;
            top: 70px;
            width: 84%;
					.hoveron-block {
						height: 45px;
		    			width: 125px;
		    			box-shadow: -3px 3px 4px 1px gray;
		    			z-index: 11;
		    			position: relative;
		    			.block-icon {
		    				float:left;
		    				font-size: 25px;
		    				width: 28px;
		    			}
		    			.block-text {
		    				padding-left: 55px;
		    				padding-top: 5px;
		    				color: white;
		    			}
					}
					.hoveron-wall {
						float:left;
						.wall-icon {
							padding-top: 15px;
							height: 30px;
							background: #363636;
							color: #A5A5A5;
							padding-left: 5px;
							padding-right: 3px;
						}
						.wall-text {
							background: #565656;
						}
					}
					.hoveron-files {
						float:right;
						.files-icon {
							padding-top: 17px;
							background: #363636;
							height: 28px;
		    				padding-left: 8px;
		    				color: #A5A5A5;
						}
						.files-text {
							background: #565656;
						}
					}
					.hoveron-files:hover {
						.files-icon {
							background: #A36200;
							color: #FFA31A;
						}
						.files-text {
							background: #FFA31A;
						}
					}
					.hoveron-wall:hover {
						.wall-icon {
							background: #A36200;
							color: #FFA31A;
						}
						.wall-text {
							background: #FFA31A;
						}
					}
				}
				.hoveron-blur {
					background: gray;
				    height: 185px;
				    opacity: 0.5;
				    z-index: 10;
				}
			}
		}
		.hoveron:hover {
			.resultbox {
				color: transparent !important;
   				text-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
			}
			.hoveron-toggle {
				display:block !important;
			}
			.standard-img {
				display: none !important;
			}
			.blurred-img {
				display: block !important;
			}
		}
	}
	
	.pagination{
    	  text-align: center; font-size: 30px;
	}
}