.welcome {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: #FFFFFF;
	z-index: 2000;
	header {
		height: 30%;
    	width: 100%;
	}
	.f-block {
		height: 135px;
	    margin-bottom: 10px;
	    text-align: center;
	    width: 100%;
	    a {
	    	text-decoration: none;
	    	height: 100%;
	    	width: 100%;
	    	padding-top: 30px;
	    	display: block;
	    	h4 {
	    		color: white;
	    	}
	    }
	}
}