.welcome {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: auto;
	background-color: #FFFFFF;
	.f-block {
		height: 135px;
	    margin-bottom: 10px;
	    padding-top: 17%;
	    text-align: center;
	    width: 100%;
	    h4 {
	    	color: white;
	    }
	}
}