/*@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";*/
/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000310}}
html, body {
  height: 100%;
  /* unvisited link */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000315}}
#content {
  margin-bottom: 1em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000320}}
ul.nav.nav-pills li a:link {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000323}}
ul.nav.nav-pills li a:visited {
  color: white;
  background-color: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000327}}
ul.nav.nav-pills li a:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000330}}
ul.nav.nav-pills li a:active {
  background-color: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000333}}
ul.nav.nav-pills li a.active {
  color: white;
  background-color: #F54D70;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000336}}
ul.nav.nav-pills li a.active:hover {
  background-color: #F54D70;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000342}}
.push {
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000346}}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -51px;
  /* the bottom margin is the negative value of the footer's height */
}

/**
 *   top margins between rows and elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000356}}
.top-buffer {
  margin-top: 20px;
}

/**
 *   text input height
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000363}}
.nerdeez-text-input {
  height: 30px !important;
  font-size: 20px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000368}}
.nerdeez-add-on {
  height: 30px !important;
  width: 30px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000371}}
.nerdeez-add-on i {
  font-size: 22px;
  position: relative;
  top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000378}}
i.nerdeez-search {
  float: left;
  height: 38px;
  left: 34px;
  position: relative;
  top: 14px;
  font-size: 24px;
  width: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000382}}
input.nerdeez-search {
  padding-left: 44px !important;
  width: 85% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_application\.scss}line{font-family:\0000387}}
.center {
  margin: 0px auto;
  clear: both;
  float: none;
}

/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000310}}
#header .logo {
  position: relative;
  top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000314}}
#header .menu {
  position: relative;
  top: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000317}}
#header .menu a.active {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom-color: #FFFFFF;
  box-shadow: none;
  color: #303030;
  filter: none !important;
  text-shadow: none;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000326}}
#header .menu .home {
  height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000328}}
#header .menu .home a {
  height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_header\.scss}line{font-family:\0000330}}
#header .menu .home a i {
  position: relative;
  top: 4px;
}

/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Doron Nachshon
*
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_footer\.scss}line{font-family:\000039}}
#footer {
  padding: 0 !important;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_footer\.scss}line{font-family:\0000313}}
#footer .nerdeez-links li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_footer\.scss}line{font-family:\0000315}}
#footer .nerdeez-links li a {
  color: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_footer\.scss}line{font-family:\0000318}}
#footer .nerdeez-links li a:hover, #footer .nerdeez-links li a:focus {
  background-color: transparent !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_footer\.scss}line{font-family:\0000322}}
#footer .nerdeez-links li:nth-of-type(2) {
  margin-left: 17px;
}

/**
* holds the styles of the header
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_left-sidebar\.scss}line{font-family:\0000311}}
.left-sidebar {
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #231f20), color-stop(100%, #3d3c3e));
  background-image: -webkit-linear-gradient(#231f20, #3d3c3e);
  background-image: -moz-linear-gradient(#231f20, #3d3c3e);
  background-image: -o-linear-gradient(#231f20, #3d3c3e);
  background-image: linear-gradient(#231f20, #3d3c3e);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_left-sidebar\.scss}line{font-family:\0000316}}
.left-sidebar li a:focus {
  background-color: #FFA31A !important;
  color: white !important;
}

/**
* holds the styles of the search university and search course content area
* @copyright: nerdeez.com Ltd.
* @version: 1.0
* @author: Yariv Katz
*
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000310}}
._search .result {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000312}}
._search .result .single-schoolgroup {
  float: right;
  margin-right: 3px;
  margin-top: 20px !important;
  width: 94%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000317}}
._search .result .single-schoolgroup .border {
  border: 1px solid;
  height: 90px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000321}}
._search .result .single-schoolgroup .border .image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000326}}
._search .result .single-schoolgroup .border .image-wrapper .thumbnail {
  height: 73px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000328}}
._search .result .single-schoolgroup .border .image-wrapper .thumbnail img {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000331}}
._search .result .single-schoolgroup .border .image-wrapper .thumbnail i.icon-picture {
  font-size: 74px;
  position: relative;
  left: 37px;
  top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_search\.scss}line{font-family:\0000340}}
._search .result .single-schoolgroup .details {
  margin-top: 8px;
}

/**
 * styles define for the falt pages: about, terms, privacy ... 
 * 
 * Created July 24th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 */
/**
 * stylesheet for the login page
 * 
 * Created: July 26th 2013
 * @author: Yariv Katz
 * @copyright: nerdeez Ltd.
 * @version: 1.0
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000312}}
.login .modal {
  top: 291px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000316}}
.login .modal-footer .alert {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000318}}
.login .modal-footer .alert i.icon-remove-sign {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000321}}
.login .modal-footer .alert i.icon-check-sign {
  color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000325}}
.login .modal-footer .primary {
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #637bad), color-stop(100%, #5872a7));
  background: -webkit-linear-gradient(to bottom, #637bad, #5872a7);
  background: -moz-linear-gradient(to bottom, #637bad, #5872a7);
  background: -o-linear-gradient(to bottom, #637bad, #5872a7);
  background: linear-gradient(to bottom, #637bad, #5872a7);
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  color: white;
  height: 30px;
  text-decoration: none;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000332}}
.login .modal-footer .primary span {
  position: relative;
  top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_login\.scss}line{font-family:\0000337}}
.login .modal-footer .loading {
  float: left;
  font-size: 25px;
  left: 15px;
  position: relative;
  top: 6px;
}

/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000310}}
.contact .field label {
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000313}}
.contact .field input[name="emailinput"] {
  padding-left: 12px;
  width: 91%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000317}}
.contact .field textarea[name="msginput"] {
  margin-bottom: 0px;
  padding-left: 12px;
  width: 94%;
  resize: none;
  color: #8e8d8d;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-size-adjust: none;
  color: #8E8D8D;
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000332}}
.contact .account-container {
  margin-top: 36px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000335}}
.contact .login-actions {
  float: none !important;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000338}}
.contact .login-actions button {
  float: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000341}}
.contact .login-actions .loading {
  float: left;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000343}}
.contact .login-actions .loading i.icon-spinner {
  font-size: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000348}}
.contact form {
  margin-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000351}}
.contact .charCounter {
  color: #BABABA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/doron\/Documents\/workspace\/nerdeez-client\/nerdeez_client_app\/static\/app\/styles\/nerdeez-styles\/_contact\.scss}line{font-family:\0000353}}
.contact .charCounter .charsRemaining {
  display: inline;
}
