<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nerdeez - Community Collage</title>

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="{{STATIC_URL}}.tmp/styles/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!-- endbuild -->
</head>
    <body>
    
        <!-- begin facebook -->
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
              appId      : '410909982317797',                        // App ID from the app dashboard
              channelUrl : '/channel/', // Channel file for x-domain comms
              status     : true,                                 // Check Facebook Login status
              xfbml      : true                                  // Look for social plugins on the page
            });
        
            // Additional initialization code such as adding Event Listeners goes here
          };
        
          // Load the SDK asynchronously
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- end facebook -->
    	
        <!-- begin global variables -->
		<script type="text/javascript">
			var STATIC_URL = '{{STATIC_URL}}app/';
			var SERVER_URL = '{{SERVER_URL}}';
		</script>
        <!-- end global variables -->
		    
		<div id="wrap">
		</div>
		        
		<div id="footer">
			<div class="container">
				<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
			</div>
		</div>

        <!-- build:js scripts/components.js -->
        <script src="{{STATIC_URL}}app/bower_components/jquery/jquery.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/handlebars/handlebars.runtime.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember/ember.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember-data-shim/ember-data.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/templates.js -->
        <script src="{{STATIC_URL}}.tmp/scripts/compiled-templates.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/main.js -->
        <script src="{{STATIC_URL}}.tmp/scripts/combined-scripts.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->
</body>
</html>
