<!doctype html xmlns:fb="http://ogp.me/ns/fb#">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    	<meta name="apple-mobile-web-app-capable" content="yes">
        <title>Nerdeez - Community Collage</title>
        
        <!-- favicon -->
        <link href="{{STATIC_URL}}app/img/favicon.ico" rel="SHORTCUT ICON" >

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{STATIC_URL}}theme/css/ui-lightness/jquery-ui-1.8.21.custom.css">  
        
        <link rel="stylesheet" href="{{STATIC_URL}}theme/css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL}}theme/css/bootstrap-responsive.css">
        
        <link rel="stylesheet" href="{{STATIC_URL}}theme/css/application-black-orange.css">
        <link rel="stylesheet" href="{{STATIC_URL}}app/bower_components/compiled_app/styles/style.css">
        
        <link rel="stylesheet" href="{{STATIC_URL}}theme/css/pages/dashboard.css">
        <link rel="stylesheet" href="{{STATIC_URL}}app/bower_components/validation/validationEngine.jquery.css" type="text/css"/>
        <script src="{{STATIC_URL}}theme/js/libs/modernizr-2.5.3.min.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        <!-- begin facebook -->
        <div id="fb-root"></div>
        <!-- end facebook -->
    	
        <!-- begin global variables -->
        <script type="text/javascript">
            var STATIC_URL = '{{STATIC_URL}}app/';
            var SERVER_URL = '{{SERVER_URL}}';
            var FACEBOOK_APP_ID = '{{FACEBOOK_APP_ID}}';
            var FILEPICKER_API_KEY = '{{FILEPICKER_API_KEY}}'
        </script>
        <!-- end global variables -->
		    
		<div id="wrap">
		</div>
		        
        
        <div id="footer">
    	
        	<div class="container">
        		
        		<div class="row">
        			
        			<div class="span3">
        				&copy; 2013 <a href="http://company.nerdeez.com">Nerdeez Ltd.</a>, all rights reserved.
        			</div> <!-- /span6 -->
                    
                    <div class="nerdeez-links span3 offset2">
                        <ul class="nav">
                            <li>    
                                <a href="#/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="#/terms">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
        			
        			<div class="span2 pull-right" id="builtby">
        				<a href="http://company.nerdeez.com">Built by Nerdeez.</a>				
        			</div> <!-- /.span6 -->
        			
        		</div> <!-- /row -->
        		
        	</div> <!-- /container -->
        	
        </div>

        <!-- build:js scripts/components.js -->
        <script src="{{STATIC_URL}}app/bower_components/jquery/jquery.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/handlebars/handlebars-1.0.0.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember/ember-1.0.0.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/ember-data-shim/ember-data.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/templates.js -->
        <script src="{{STATIC_URL}}app/bower_components/compiled_app/scripts/compiled-templates.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/main.js -->
        <script src="{{STATIC_URL}}app/bower_components/compiled_app/scripts/combined-scripts.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->
        
        <script src="{{STATIC_URL}}theme/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="{{STATIC_URL}}theme/js/libs/jquery.ui.touch-punch.min.js"></script>
        
        <script src="{{STATIC_URL}}theme/js/libs/bootstrap/bootstrap.min.js"></script>
        
        <script src="{{STATIC_URL}}theme/js/Theme.js"></script>
        <script src="{{STATIC_URL}}theme/js/Charts.js"></script>
        
        <script src="{{STATIC_URL}}theme/js/plugins/excanvas/excanvas.min.js"></script>
        <script src="{{STATIC_URL}}theme/js/plugins/flot/jquery.flot.js"></script>
        <script src="{{STATIC_URL}}theme/js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="{{STATIC_URL}}theme/js/plugins/flot/jquery.flot.orderBars.js"></script>
        <script src="{{STATIC_URL}}theme/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="{{STATIC_URL}}theme/js/plugins/flot/jquery.flot.resize.js"></script>
        
        <script src="{{STATIC_URL}}theme/js/demos/charts/line.js"></script>
        <script src="{{STATIC_URL}}theme/js/demos/charts/donut.js"></script>
        
        <!-- jquery plugins -->
        <script src="{{STATIC_URL}}app/bower_components/validation/jquery.validationEngine-en.js"></script>
        <script src="{{STATIC_URL}}app/bower_components/validation/jquery.validationEngine.js"></script>
        <!-- -->
        
        <script>
        
        $(function () {
            
        	Theme.init ();
        	
        });
        
        </script>
        
        <!-- begin filepicker -->
		<!--<script type="text/javascript">
			(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
		</script>-->        
		<!-- end filepicker -->
		
		<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    </body>
</html>
